src/test/resources/samples/defnews.rss.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://search.yahoo.com/mrss/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="content" type="mrss:contentType" xmlns:mrss="http://search.yahoo.com/mrss/"/>
  <xs:complexType name="descriptionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="creditType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="role" use="optional"/>
        <xs:attribute type="xs:string" name="scheme" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="contentType">
    <xs:sequence>
      <xs:element type="mrss:descriptionType" name="description" xmlns:mrss="http://search.yahoo.com/mrss/"/>
      <xs:element type="mrss:creditType" name="credit" minOccurs="0" xmlns:mrss="http://search.yahoo.com/mrss/"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="url" use="optional"/>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:short" name="height" use="optional"/>
    <xs:attribute type="xs:short" name="width" use="optional"/>
  </xs:complexType>
</xs:schema>