src/test/resources/samples/defnews.rss.xml5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rss" type="rssType"/>
  <xs:complexType name="guidType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="isPermaLink" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="link"/>
      <xs:element type="guidType" name="guid"/>
      <xs:element ref="ns:creator" xmlns:ns="http://purl.org/dc/elements/1.1/"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="pubDate"/>
      <xs:element ref="con:encoded" xmlns:con="http://purl.org/rss/1.0/modules/content/"/>
      <xs:element ref="mrss:content" xmlns:mrss="http://search.yahoo.com/mrss/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="channelType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="link"/>
      <xs:element ref="atom:link" xmlns:atom="http://www.w3.org/2005/Atom"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="lastBuildDate"/>
      <xs:element type="xs:string" name="language"/>
      <xs:element type="xs:byte" name="ttl"/>
      <xs:element ref="syn:updatePeriod" xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"/>
      <xs:element ref="syn:updateFrequency" xmlns:syn="http://purl.org/rss/1.0/modules/syndication/"/>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rssType">
    <xs:sequence>
      <xs:element type="channelType" name="channel"/>
    </xs:sequence>
    <xs:attribute type="xs:float" name="version"/>
  </xs:complexType>
</xs:schema>